 <%= render "/shared/menu" %>
 <div class="container">
<b>New Genre</b>
<%= form_for(@genre, url: admin_genres_path ) do |f| %>
<%= render partial: 'form', locals:{f:f} %>
<%#= link_to 'Back', genre_index_path %>
<% end %>
</div>